{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": "warn",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "__v"
        ]
      }
    ],
    "no-console": 0
  }
}
